.THIS .hide{
    display:none;
}
.THIS .show{
    display:block;
}
.THIS .error{
    background-color: rgb(248, 137, 98);
}
.THIS .info{
    background-color: rgb(84, 195, 93);
}
.THIS .required{
    border-left:0.25rem red solid;
}