.THIS .row:before,
.THIS .row:after {
    content: "";
    display: table;
    padding-top: 10px;
}

.THIS .row.one-column:after, 
.THIS .row.four-column:after,
.THIS .row.three-column:after,
.THIS .row.two-column:after {
    clear: both;
}

.THIS .with-left-gutter:first-child {
    margin-left: 0;
}

.THIS .with-left-gutter { 
    margin-left: 1%;
}

.THIS .row.one-column {
    width: 100%;
}

.THIS .column {
    float: left;
}

.THIS .row.four-column .column {
    width: 24.25%;
}

.THIS .row.three-column .column {
    width: 32.66%;
}

.THIS .row.two-column .column {
    width: 49.5%;
}